@charset "UTF-8";

/* CSS Information
---------------------------------------------------------------
Site URL:http://mugi.co.jp
File name:reset.css
Summary:base styles
Created:2020-9-15
Last update:2020-9-15 by Sadaoka
Author:	Sadaoka(BUNKASOZOSHA Co.,Ltd.)
Copyright:(C) BUNKASOZOSHA Co.,Ltd.
--------------------------------------------------------------- */

@import url("fonts.css?date=20201023");

/* Initialize */
/* ------------------------------------------------------------ */
html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, address, cite, code, 
del, dfn, em, img, ins, kbd, q, samp, 
small, strong, sub, sup, var, 
b, i, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: middle;
	background: transparent;
}

article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

html, body {
	height: 100%;
}

body {
	background: #e4e0dc;
	color: #231815;
    font: 16px Garamond, "Times New Roman", "Ryo Text PlusN", 游明朝体, "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    line-height: 1;
	word-wrap: break-word;
    -webkit-text-size-adjust: none;
}
ul, ol {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote: before,
blockquote: after, 
q: before,
q: after {
	content: '';
	content: none;
}

img {
	vertical-align: middle;
	font-size:0;
	line-height: 0;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px #000 dotted;
	cursor: help;
}

table {
	font-size: 16px;
	empty-cells: hide;
	border-collapse: collapse;
	border-spacing: 0px;
}

th {
	padding: 0;
}

td {
	padding: 0;
}

br {
	letter-spacing: 0;
}

input, select {
	vertical-align: middle;
}

button, input, select, textarea {
	font-family : inherit;
	font-size : 100%;
}